:host {
  background-color: #fff;
  display: block;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.quote-left {
  margin-right: 0.7rem;
  color: #0D6EFD;
}

.quote-right {
  margin-left: 0.7rem;
  color: #0D6EFD;
}
