<div class="px-4 py-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/logo-128-70.png" alt="" height="57">
  <h1 class="display-5 fw-bold">Aktuelle Veranstaltungen</h1>
</div>

<div class="fluid">
  <div class="list-group mx-lg-5 mx-md-3 mx-2 px-md-5">
    <ul class="no-bullets">
      <li *ngFor="let event of events.events; index as i; first as isFirst">
        <a href="{{event.url}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between my-1">
          <h5 class="mb-1">{{event.title}}</h5>
          <!--<small class="text-muted">3 days ago</small>-->
        </div>
        <p class="text-muted mb-2">{{event.time}}</p>
        <p class="mb-0">{{event.description}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="py-3">
  <div class="container">
    <!--Quote-->
    <div class="row px-5 py-5 text-center">
      <figure>
        <blockquote class="blockquote mb-4">
          <p>
            <i class="fas fa-quote-left fa-lg text-primary me-2"></i>
            <span class="font-italic">KaffeeSatz &mdash; Wenn's offen hat, ist's geil!</span>
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Ein KaffeeSatz-Mitglied
        </figcaption>
      </figure>
    </div>
  </div>
</section>
