<div class="px-4 py-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/logo-128-70.png" alt="" height="57">
  <h1 class="display-5 fw-bold">Aktuelle Veranstaltungen</h1>
</div>

<section class="py-3">
  <div class="container">
    <!--Quote-->
    <div class="row px-5 py-5 text-center">
      <figure>
        <blockquote class="blockquote mb-4">
          <p>
            <i class="fas fa-quote-left fa-lg text-primary me-2"></i>
            <span class="font-italic">KaffeeSatz --- Wenn's offen hat, ist's geil!</span>
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Ein KaffeeSatz-Mitglied
        </figcaption>
      </figure>
    </div>
  </div>
</section>
