<div class="px-4 py-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/logo-128-70.png" alt="" height="57">
  <h1 class="display-5 fw-bold">So kannst du uns unterstützen</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Deine Spende hilft uns, unsere Miete und Nebenkosten zu zahlen, unseren Laden in Schuss zu halten und  neue Ideen umzusetzen, für dich und viele weitere tolle Menschen.
    </p>
  </div>
</div>

<!--SHOWCASE-->

<div class="container">
  <div class="row gx-3">

    <div class="col-lg-4 my-3">
      <div style="background: white; height: 100%;">
        <img src="assets/account_balance-24px.png" class="img-fluid mx-auto d-block w-25" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
        <div class="p-4">
          <h3 class="text-center">Spenden via Überweisung</h3>
          <p class="px-4">
            KaffeeSatz e.V.<br/>
            IBAN: DE65 8705 0000 0710 0111 21<br/>
            BIC: CHEKDE81XXX<br/>
            Bank: Sparkasse Chemnitz
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-3">
      <div style="background: white; height: 100%;">
        <img src="assets/paypal.png" class="img-fluid mx-auto d-block w-25" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
        <div class="p-4">
          <h3 class="text-center">Spenden via Paypal</h3>
          <p>
            <a href="https://paypal.me/KaffeesatzChemnitz" target="_blank"><img src="assets/direkt_zu_pp.webp" class="img-fluid mx-auto d-block"></a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-3">
      <div style="background: white; height: 100%;">
        <img src="assets/BitcoinSign.png" class="img-fluid mx-auto d-block w-25" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
        <div class="p-4">
          <h3 class="text-center">Spenden via Bitcoin/Lightning</h3>
          <p class="text-center">Kommt bald! </p>
        </div>
      </div>
    </div>

  </div>
</div>

<section class="py-3">
  <div class="container">
    <!--Quote-->
    <div class="row px-5 py-5 text-center">
      <figure>
        <blockquote class="blockquote mb-4">
          <p>
            <fa-icon [icon]="faQuoteLeft" class="quote-left"></fa-icon>
            <span class="font-italic">Kaufst du Bier, bist du einen Abend lang satt. Aber eine Spende an das KaffeeSatz hilft, dich dein Leben lang mit Kultur und erfrischenden Getränken zu versorgen.</span>
            <fa-icon [icon]="faQuoteRight" class="quote-right"></fa-icon>
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Alte Chemnitzer Volksweisheit
        </figcaption>
      </figure>
    </div>
  </div>
</section>
