:host {
  background-color: #666;
  display: block;
  min-height: 100vh;
}

.card {
  display:inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: text-bottom;
  z-index: 1;
  height: 27rem;
  width: 24rem;
}

.card-img-top {
  height: 12rem;
}

.card-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}
