<ul class="nav justify-content-center border-bottom pb-3 mb-3">
  <li class="nav-item">
    <a routerLink="/" routerLinkActive="active" class="nav-link px-2 text-muted">Startseite</a>
  </li>
  <li class="nav-item">
    <a routerLink="/events" routerLinkActive="active" class="nav-link px-2 text-muted">Veranstaltungen</a>
  </li>
  <li class="nav-item">
    <a routerLink="/verein" routerLinkActive="active" class="nav-link px-2 text-muted">Verein</a>
  </li>
  <li class="nav-item">
    <a routerLink="/donate" routerLinkActive="active" class="nav-link px-2 text-muted">Spenden</a>
  </li>
  <li class="nav-item">
    <a href="https://podcast.kaffeesatz-chemnitz.de" target="_blank" routerLinkActive="active" class="nav-link px-2 text-muted">Podcast</a>
  </li>
  <li class="nav-item">
    <a routerLink="/impressum" routerLinkActive="active" class="nav-link px-2 text-muted">Impressum & Datenschutz</a>
  </li>
</ul>
<p class="text-center text-muted">KaffeeSatz e.V.</p>
