<div class="px-4 py-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/logo-128-70.webp" alt="" height="57">
  <h1 class="display-5 fw-bold">Willkommen im KaffeeSatz</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Wir sind der Verein Kaffeesatz e.V. und betreiben die gleichnamige Kulturkneipe auf dem Chemnitzer Sonnenberg. Es erwarten Euch Lesungen, Vorleseabende, Theater, Konzerte, philosophische und historische Debatten, Ausstellungen, Workshops, Spieleabende, Quizshows und noch vieles mehr. Dazu gibt es natürlich Unmengen Bücher.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Finde uns!</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Was gerade ansteht</button>
    </div>
  </div>
</div>

<!--SHOWCASE-->

<section class="py-3" style="background: #F6F6F6;">

  <!--CARDS-->

  <div class="container">
    <div class="row gx-3">
      <h2 class="px-4 py-2 text-center">Was dich bei uns erwartet</h2>
      <p class="px-5 py-2 text-center text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam reprehenderit accusamus labore iusto, aut, eum itaque illo totam tempora eius.</p>
    </div>
    <div class="row gx-3">


      <div class="col-lg-4 my-3">
        <div style="background: white; height: 100%;">
          <img src="assets/konzerte.jpg" class="img-fluid mx-auto" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
          <div class="p-4">
            <h3>Konzerte</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis rutrum enim, quis sodales nisi. Nam malesuada luctus arcu, ut viverra purus bibendum et. Quisque odio magna, aliquam rhoncus consectetur ut, dictum eget neque. Nullam feugiat orci et condimentum ornare. Donec metus dolor, euismod commodo dapibus eget, consectetur eu nibh.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div style="background: white; height: 100%;">
          <img src="assets/warhammer.jpg" class="img-fluid mx-auto" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
          <div class="p-4">
            <h3>Zusammentische</h3>
            <p>
              Unsere zahlreichen Zusammentische warten auf dich. Nix für dich dabei aber du hast eine gute Idee? Dann bieten wir dir einen Raum, dich zu verwirklichen!
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div style="background: white; height: 100%;">
          <img src="assets/zocken.jpg" class="img-fluid mx-auto" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
          <div class="p-4">
            <h3>Zeig was du kannst</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis rutrum enim, quis sodales nisi. Nam malesuada luctus arcu, ut viverra purus bibendum et. Quisque odio magna, aliquam rhoncus consectetur ut, dictum eget neque. Nullam feugiat orci et condimentum ornare. Donec metus dolor, euismod commodo dapibus eget, consectetur eu nibh.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div style="background: white; height: 100%;">
          <img src="assets/quatschen.jpg" class="img-fluid mx-auto" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
          <div class="p-4">
            <h3>Einfach nur quatschen</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis rutrum enim, quis sodales nisi. Nam malesuada luctus arcu, ut viverra purus bibendum et. Quisque odio magna, aliquam rhoncus consectetur ut, dictum eget neque. Nullam feugiat orci et condimentum ornare. Donec metus dolor, euismod commodo dapibus eget, consectetur eu nibh.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div style="background: white; height: 100%;">
          <img src="assets/podcast.jpg" class="img-fluid mx-auto" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
          <div class="p-4">
            <h3>Jetzt auch für unterwegs</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis rutrum enim, quis sodales nisi. Nam malesuada luctus arcu, ut viverra purus bibendum et. Quisque odio magna, aliquam rhoncus consectetur ut, dictum eget neque. Nullam feugiat orci et condimentum ornare. Donec metus dolor, euismod commodo dapibus eget, consectetur eu nibh.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div style="background: white; height: 100%;">
          <img src="assets/heidi.jpg" class="img-fluid mx-auto" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"/>
          <div class="p-4">
            <h3>Mach mit!</h3>
            <p>
              Wir suchen immer nach neuen Mitstreitern mit frischen Ideen. Hast Du Lust auf Organisieren, Handwerkeln oder Öffentlichkeitsarbeit? Oder spülst für Dein Leben gern ab? Dann schau doch mal bei uns vorbei. Jedes einzelne Mitglied bestimmt den Kurs des Vereins mit und jeder von uns kann sich im KaffeeSatz nach Lust und Laune ausprobieren.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>

</section>

<section class="py-3">
  <div class="container">
    <!--Quote-->
    <div class="row px-5 py-5 text-center">
      <figure>
        <blockquote class="blockquote mb-4">
          <p>
            <i class="fas fa-quote-left fa-lg text-primary me-2"></i>
            <span class="font-italic">Das KaffeeSatz ist wie eine Blume. Ich gehe hinein und bin schlecht in Vergleichen.</span>
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Ein KaffeeSatz-Kunde
        </figcaption>
      </figure>
    </div>

    <!--IMAGE CAROUSEL-->
    <div class="row">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="assets/img-carousel/fenster.jpg" class="d-block w-100 img-fluid" preserveAspectRatio="xMidYMid sclice" alt="...">
          </div>

          <div class="carousel-item ">
            <img src="assets/img-carousel/pnp.jpg" class="d-block w-100 img-fluid" preserveAspectRatio="xMidYMid sclice" alt="...">
          </div>

          <div class="carousel-item ">
            <img src="assets/img-carousel/blue-concert.jpg" class="d-block w-100 img-fluid" preserveAspectRatio="xMidYMid sclice" alt="...">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>



<!--CONTACT-->

<div class="container my-2">
  <div class="row">

    <div class="col-lg-6 my-3">
      <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.8146528777515!2d12.937589616473446!3d50.8345969795303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a7466320c6719d%3A0xd9d8a2584bc74e5b!2sKaffeeSatz!5e0!3m2!1sen!2sde!4v1655675250194!5m2!1sen!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
      <img src="assets/map.png" style="object-fit: none; object-position: right bottom; width: 100%; height: 450px;"/>
    </div>

    <div class="col-lg-6 my-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Kontakt</h2>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <p>Du kannst uns auf verschiedene Art & Weise ansprechen. Am besten direkt im KaffeeSatz in der <strong>Zietenstraße 40</strong>.
              Mit dem Bus erreichst du uns über die Haltestelle <strong>Zietenstraße</strong>, mit den Linien 82, 31, oder N12.</p>
            <p>Digital erreichst du uns auf folgenden Kanälen:.</p>
          </div>
        </div>
        <div class="row px-5">

          <div class="col-4 py-2" style="font-size: 20px;">
            <a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt">
				  <span class="fa-stack fa-2x">
					<i class="fa-solid fa-circle fa-stack-2x" style="color:#555;"></i>
					<i class="fa-solid fa-envelope fa-stack-1x" style="color:#fff;"></i>
				  </span>
            </a>
          </div>

          <div class="col-4 py-2" style="font-size: 20px;">
            <a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt">
				  <span class="fa-stack fa-2x">
					<i class="fa-solid fa-circle fa-stack-2x" style="color:#5865f2;"></i>
					<i class="fa-brands fa-discord fa-stack-1x" style="color:#fff;"></i>
				  </span>
            </a>
          </div>

          <div class="col-4 py-2" style="font-size: 20px;">
            <a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt">
				  <span class="fa-stack fa-2x">
					<i class="fa-solid fa-circle fa-stack-2x" style="color:#1877f2;"></i>
					<i class="fa-brands fa-facebook-f fa-stack-1x" style="color:#fff;"></i>
				  </span>
            </a>
          </div>

          <div class="col-4 py-2" style="font-size: 20px;">
            <a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt">
				  <span class="fa-stack fa-2x">
					<i class="fa-solid fa-circle fa-stack-2x" style="color:#c32aa3;"></i>
					<i class="fa-brands fa-instagram fa-stack-1x" style="color:#fff;"></i>
				  </span>
            </a>
          </div>

          <div class="col-4 py-2" style="font-size: 20px;">
            <a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt">
				  <span class="fa-stack fa-2x">
					<i class="fa-solid fa-circle fa-stack-2x" style="color:#1da1f2;"></i>
					<i class="fa-brands fa-twitter fa-stack-1x" style="color:#fff;"></i>
				  </span>
            </a>
          </div>

          <div class="col-4 py-2" style="font-size: 20px;">
            <a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt">
				  <span class="fa-stack fa-2x">
					<i class="fa-solid fa-circle fa-stack-2x" style="color:#2b90d9;"></i>
					<i class="fa-brands fa-mastodon fa-stack-1x" style="color:#fff;"></i>
				  </span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
