<div class="card">
  <img class="card-img-top" src="assets/logo-256-90.webp" alt="Über uns">
  <div class="card-body">
    <p>Wir sind der Verein Kaffeesatz e.V. und betreiben die gleichnamige Kulturkneipe auf dem Chemnitzer Sonnenberg. Es erwarten Euch Lesungen, Vorleseabende, Theater, Konzerte, philosophische und historische Debatten, Ausstellungen, Workshops, Spieleabende, Quizshows und noch vieles mehr. Dazu gibt es natürlich Unmengen Bücher.</p>
    <p>Wir suchen immer nach neuen Mitstreitern mit frischen Ideen. Hast Du Lust auf Organisieren, Handwerkeln oder Öffentlichkeitsarbeit? Oder spülst für Dein Leben gern ab? Dann schau doch mal bei uns vorbei. Jedes einzelne Mitglied bestimmt den Kurs des Vereins mit und jeder von uns kann sich im "Kaffeesatz" nach Lust und Laune ausprobieren.</p>
    <br/>
  </div>
  <div class="card-footer">
    <small class="text-muted">Wir sind das KaffeeSatz.</small>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="assets/kontact.svg" alt="Bankkonto">
  <div class="card-body">
    <h5 class="card-title">Kontakt</h5>
    <p class="card-text">Du kannst uns auf verschiedene Art & Weise ansprechen. Am besten direkt im <a href="http://m.osmtools.de/0nN7431wogJ0nN6L31wou4" target="_blank">KaffeeSatz</a> oder auf digitalem Wege.</p>
    <ul class="social-menu">
      <li><a href="mailto:info@kaffeesatz-chemnitz.de?subject=Kontakt"><i class="far fa-envelope"></i></a></li>
      <li><a href="https://www.facebook.com/KaffeesatzChemnitz/" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/kaffeesatz_c" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/kaffeesatz.kulturkneipe" target="_blank"><i class="fab fa-instagram"></i> </a></li>
    </ul>
    <br/>
  </div>
  <div class="card-footer">
    <small class="text-muted">Sprich uns an!</small>
  </div>
</div>
