:host {
  background-color: #fff;
  display: block;
  min-height: 100vh;
}

.showcase {
  background: #F6F6F6;
}

.map {
  object-fit: none;
  object-position: right bottom;
  width: 100%;
  height: 450px;
}

.card {
  display:inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: text-bottom;
  z-index: 1;
  min-height: 27rem;
  width: 20rem;
}

.card-img-top {
  height: 12rem;
}

.card-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.social-menu {
	display: flex;
	list-style-type: none;
}

.socialmedia {
  font-size: 3rem;
  cursor: pointer;
}

.disabledsocialmedia {
  font-size: 3rem;
}

.discord {
  color:#5865f2;
}

.facebook {
  color:#1877f2;
}

.instagram {
  color:#c32aa3;
}

.twitter {
  color:#1da1f2;
}

.mastodon {
  color:#ccc;
}

.quote-left {
  margin-right: 0.7rem;
  color: #0D6EFD;
}

ngb-carousel {
    max-width: 100%;
    min-width: 100%;
    margin: 50px auto;
}
ngb-carousel img {
    width: 100%;
    outline: none;
}
ngb-carousel {
    width: inherit;
    height: inherit;
}
.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}
.carousel-indicators{
    z-index: 20;
}
